@import "~office-ui-fabric-react/dist/sass/References.scss";

.chartContainer {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.chartTitle {
    margin: 0 0 10px;
    font-weight: 300;
    text-align: center;
    color: ms-fontColor-themePrimary; // '[theme:themePrimary, default:#eeac00]'; // ms-fontColor-themePrimary;
    @include ms-font-su;
}

.chartBody {
    
    position: relative;
}

.chartSpinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px, 0;
    z-index: 1;
}

.chartFooter {
    text-align: center;
}